<div style="width: 100vw; height: 100vh; background: #EEEEEE; display: flex; justify-content: center; align-items: center;">
  <mat-card class="login-card">
      <mat-card-header style="display: flex; justify-content: center; align-items: center; flex-direction: column-reverse; gap: 20px;">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" style="font-size: 100px; width: 100px; height: 100px;"></mat-icon>
          <mat-card-title style="font-size: 30px;">Iniciar sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 20px;">
          <form style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        
          </form>
      </mat-card-content>
    </mat-card>
</div>
