<div style="width: 100vw; height: 100vh; background: #EEEEEE; display: flex; justify-content: center; align-items: center;">
  <mat-card class="login-card">
      <mat-card-header style="display: flex; justify-content: center; align-items: center; flex-direction: column-reverse; gap: 30px;">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" style="font-size: 100px; width: 100px; height: 100px;"></mat-icon>
          <mat-card-title style="font-size: 27px;">Iniciar sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 20px;">
          <form style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <mat-form-field style="width: 250px; scale: .95;">
              <mat-label>Usuario</mat-label>
              <input matInput [(ngModel)]="username" name="username" placeholder="Usuario" />
            </mat-form-field>

             <mat-form-field style="width: 250px; scale: .95;">
              <mat-label>Contraseña</mat-label>
              <input matInput [(ngModel)]="password" name="password" placeholder="Contraseña" type="password" />
            </mat-form-field>
          </form>
          <button mat-flat-button style="height: 37px; width: 150px; font-size: 15px;" (click)="login()">Iniciar sesión</button>
          <button mat-flat-button style="height: 37px; width: 150px; font-size: 15px;">Registrarse</button>
      </mat-card-content>
    </mat-card>
</div>
