<app-loading-overlay [show]="isLoading"></app-loading-overlay>
<div
  style="
    width: 100vw;
    height: 100vh;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <mat-card
    class="login-card"
    style="max-width: 400px; width: 100%"
  >
    <mat-toolbar
      style="
        background-color: #015cbb;
        color: white;
        width: 100%;
        margin-bottom: 30px;
      "
    >
      <span>Solicitud</span>
    </mat-toolbar>

    <mat-card-content style="display: flex; flex-direction: column; gap: 20px">
      <form
        style="display: flex; flex-direction: column; gap: 20px; width: 100%"
        [formGroup]="formSolicitud"
      >
        <div style="display: flex; gap: 20px; width: 100%">
          <mat-form-field appearance="fill" style="flex: 1.8">
            <mat-label>Número de Documento</mat-label>
            <input
              matInput
              name="nrodocumento"
              placeholder="Ingrese su número de documento"
              formControlName="nroDocumento"
            />
          </mat-form-field>
        </div>

        <div style="display: flex; gap: 20px; width: 100%">
          <mat-form-field appearance="fill" style="flex: 1.8">
            <mat-label>Operación</mat-label>
            <mat-select name="tipoOperacion" placeholder="Operación" formControlName="tipoOperacion">
              <mat-option value="renovacion">Renovación</mat-option>
              <mat-option value="emision">Emisión</mat-option>
              <mat-option value="copia">Copia</mat-option>
              <mat-option value="cambioDomicilio">Cambio de domicilio</mat-option>
              <mat-option value="consulta">Consulta</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="display: flex; gap: 20px; width: 100%">
          <mat-form-field appearance="fill" style="flex: 1.8">
            <mat-label>Clase</mat-label>
            <mat-select name="clase" placeholder="Clase" formControlName="clase">
              <mat-option value="A">A</mat-option>
              <mat-option value="B">B</mat-option>
              <mat-option value="C">C</mat-option>
              <mat-option value="D">D</mat-option>
              <mat-option value="E">E</mat-option>
              <mat-option value="F">F</mat-option>
              <mat-option value="G">G</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>

    <div
      style="
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 15px
      "
    >
      <button
        mat-flat-button
        color="primary"
        style="height: 40px; width: 100px"
        (click)="onSubmit()"
      >
        Confirmar
      </button>
      <button
        mat-flat-button
        style="
          height: 40px;
          width: 100px;
          background-color: #9c0000;
          color: white;
        "
        (click)="cancel()"
      >
        Cancelar
      </button>
    </div>
  </mat-card>
</div>
